################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VS/.vs/LowpayTree/v15/Server/sqlite3
VS/.vs/LowpayTree/v15/.suo
VS/.vs/LowpayTree/v15/Server/sqlite3/storage.ide
*.ide
